/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

/*------------- paragraph---------------- */
p {
  font-size: 1.1rem;
  margin: auto;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15%;
  text-align: left;
}

/* navigation bar  */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.title-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.iphone-container {
  position: relative;
}

.iphone-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 27%;
}
.iphone-image:hover{
  width: 61%;
}


/***************** Features section ************/
#features {
  font-family: 'Montserrat-bold';
  color: #8f8f8f;
  position: relative;
  background-color: #fff;
}

.feature-container {
  padding: 0 15%;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-family: 'Montserrat-bold';
  color: #8f8f8f;
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials {
  background-color: #ef8172;
}

.carousel-inner {
  padding: 5% 15%;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text-h2 {
  color: #fff;
  font-size: 3rem;
  font-family: 'Montserrat-bold';
  line-height: 1.5;
}

em {
  color: #fff;
}

#press {
  background-color: #ef8172;
  padding: 3% 10% 5% 10%;
}

.press-logos {
  width: 15%;
  margin: 0 30px 30px 0;
}

/* pricing section */
#pricing {
  padding: 3% 15%;
}
.card-header{
  background-color: #ef8172;
}

.card{
  border-radius: 0.5rem;
  border: 1px solid #ef8172;
}

.card-h2 {
  color: black;
  font-size: 3.5rem;
  font-family: 'Montserrat-bold';
  line-height: 1.5;
}

.plan-name-h2 {
  color: black;
  font-size: 3rem;
  font-family: 'Montserrat-bold';
  line-height: 1.5;
}

.pricing-header-paragraph {
  color: #8f8f8f;
}

.pricing-name {
  color:#fff;
  font-family: 'Montserrat-bold';
}

.card-body {
  color: #8f8f8f;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #ef8172;
  }

/* call to action */
#cta {
  padding: 8% 15%;
  background-color: #ef8172;
}

.cta-header {
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Montserrat-black';
  padding: 0 10%;
  line-height: 1.5
}

#footer {
  padding: 7% 30% 4% 30%;
}

.smicon:hover{
  color: blue;
}

.Copyright {
  color: #8f8f8f;
}

/**************** media query section ********************/
@media (max-width:991px) {
  body{
    text-align: center;
  }

  .navbar-toggler-icon {
    height: 1rem;
    width: 1rem;
  }

  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #title {
    padding: 3% 3% 1% 10%;
    text-align: center;
  }

  .title-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .testimonial-text-h2{
    font-size: 2rem;
  }

  .plan-name-h2{
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .iphone-container {
    position: static;
    padding-bottom: 0;
  }

  p {
    font-size: 1.3rem;
  }

  .iphone-image {
    margin-top: 5%;
    width: 60%;
    transform: rotate(0);
    position: static;
    right: auto;
  }
  .iphone-image:hover{
    width: 61%;
  }

  .testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
  }

  .press-logos {
    width: 25%;
    margin: 0 30px 30px 0;
  }

  .carousel-control-prev-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .carousel-control-next-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .card-h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: black;
  }

  .plan-name {
    font-size: 1.8rem;
    color: black;
  }

  .cta-header {
    font-size: 2.5rem;
  }

  .Copyright {
    font-size: 1rem;
  }
}
